body{font-family:"微软雅黑"}
body,ul,li,ol,p,h1,h2,h3,h4,h5,h6{margin:0; padding:0;}
table{border-collapse:collapse;}
img{border:none;}
a{text-decoration:none; color:black;}
*{box-sizing: border-box;}
ul,ol{list-style:none;}
button{border:none}
em,i{font-style:normal}	header,nav,aside,section,article,footer{display:block}
.left{float:left;}
.right{float:right;}
.clearFix:after{
	content:'';
	display: block;
	clear: both;
	height:0;
}
.div1{background:red;}